.single-recipe {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 100px auto 50px auto;
  background: #e8e8e8;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipe-image,
.image-placeholder {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.image-placeholder {
  background: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-size: 16px;
}

.recipe-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recipe-content h1 {
  margin-top: 0;
  font-weight: bold;
  font-size: 28px;
  color: #333;
}

.recipe-content h3 {
  margin: 10px 0;
  font-weight: bold;
  color: #666;
}

.recipe-content p {
  margin: 8px 0;
  font-weight: bold;
  color: #444;
  line-height: 1.5;
}

.headings{
    text-decoration: underline;
}

.recipe-content ul {
  margin-left: 20px;
  padding-left: 0;
  list-style-type: disc;
}

.recipe-content li {
  margin-bottom: 8px;
  line-height: 1.6;
  color: #333;
}

.download-btn {
  padding: 10px 20px;
  margin-bottom: 50px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.download-btn:hover {
  background-color: #218838;
}